#include "resource.h"

DLG_MAIN DIALOGEX 6, 5, 230, 106

CAPTION "Escrity 1.0.2"

FONT 8, "Tahoma"

STYLE 0x10CE0804

BEGIN
   CONTROL "sum(num1.num2):", ID_EDIT_COMMAND, "Edit", 0x10010000, 5,  5, 100, 15
   CONTROL "&Ejecutar", ID_BTN_EJECUTAR, "Button", 0x10010000, 25, 29, 48, 15
   CONTROL "", ID_EDIT_COMMAND2, "Edit", 0x10010000, 115,  5, 105, 89
   CONTROL "&Guardar", ID_BTN_EJECUTAR2, "Button", 0x10010000, 25, 79, 48, 15
   CONTROL "&Salir", IDC_BTN_QUIT, "Button", 0x10010000, 25, 53, 48, 15
END
